body{
  text-align: center;
  background-color: rgb(172, 238, 230);
}

.choiceButton{
height: 100px;
width: 100px;
border: none;
margin: 10px;
background-color: rgb(0, 244, 53);
border-radius: 50px;
cursor: pointer;
}
 .choiceImage{
 height: 75px;


 }
 
 #resetButton{
 background-color: rgb(244, 4, 4);
 height: 40px;
 width: 80px;
 border-radius: 20px;
 color: aliceblue;
 cursor: pointer;
 text-align: center;
 font-weight: bold;

 }